/*works specific page*/
.spec-title-img{
    padding-top: 30px;
    width: 100%;

}

.spec-button{
    margin-left: 200px;
    margin-top: 100px;

}

.spec-name{
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-family: 'Helvetica Neue';
}

.spec-text{
    margin-left: 300px; 
    margin-right: 300px;
    font-family: "Helvetica Neue";
    font-weight: 300;
}

.spec-title{
    font-size: 22pt;
    margin-bottom: 15px;
    margin-top: 50px;
    font-weight: 400;
    font-family: "Helvetica Neue";
}

.spec-overview-title {
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: "Helvetica Neue";

}

.spec-overview{
    font-weight: 300;
}

.line-before{
    margin-top: 10px;
}

.spec-col{
    margin-top: 20px;
    width: 45%;
    display: inline-block;
    vertical-align: middle;
}

.spec-result{
    background-color: #f2f3f5;
    margin-left: -300px;
    margin-right: -300px;
}

.spec-result-title {
    margin-top: 50px;
    padding-top: 50px;
    text-align: center;
    font-size: 22pt;
    font-family: "Helvetica Neue";
    font-weight: 500;
}

.spec-proto{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.tab{
    margin-left: 20px;
}

.strong{
    font-weight: bold;
}

.key {
    font-size: 14pt;
    font-weight: 500;
    color: #0f4c81;
}

.key-emoji {
    font-size: 20pt;
}

.no-line-after{
    margin-top: -10px;
}

.spec-small-title {
    margin-top: 20px;
    margin-bottom: 5px;
    font-family: "Helvetica Neue";
    font-weight: 400;
    font-size: 16pt;
}

.spec-img {
    margin-top: 10px;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.spec-img2{
    margin-top: 10px;
    width: 45%;
    height: auto;
    margin-bottom: 10px;
    margin-left: 0px;
}

.center{
    text-align: center;
}

.spec-img-80 {
    height: 80%;
}

.scroll-button{
    width: 100%;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.scroll-button a{
    text-align: center;
}
