*{
    -webkit-font-smoothing: antialiased;
    font-family: "Helvetica Neue"; 
}  

/*header*/

.img-width-100 {
    width: 100%;
    height: auto;
}

.header-image{
   /* margin-top: 123px;*/ 
    height: 100vh;
    background-color: #4e598c;

}

.top{
    padding-top: 80px;
}

.header-img{
    padding-top: 50px;
    padding-bottom: 60px;
}

#scroll-button{
    text-align: center;
    width: 20px;
    margin-left: 49%;
    margin-right: auto;
    animation-duration: 2s;
    animation-delay: 1.5s;
    animation-iteration-count: infinite;
}

.bounce {
    animation-name: bounce;
    animation-timing-function: ease;
}
@keyframes bounce {
    0%   { transform:       translateY(0); }
    10%  { transform:  translateY(0); }
    30%  { transform:   translateY(-12px); }
    50%  { transform: translateY(0); }
    57%  { transform:      translateY(-5px); }
    64%  { transform:      translateY(0); }
    100% { transform:    translateY(0); }
}

.header-button {
    text-align: center;
    color: white;
    font-weight: 600;
}

/*overview*/

.overview{
    margin-left: 300px;
    margin-right: 300px;
    height: 70vh;
    font-size: 14pt;
    margin-bottom: 0px;
}

.overview-title{
    font-size: 30pt;
    font-weight: 600;
    line-height: 1.0;
   /* margin-top: 220px;*/
   margin-top: 120px;
    margin-bottom: 30px;
    letter-spacing: -0.03em;
}

.overview-subtitle{
    margin-bottom: 50px;
}

.overview-category{
    display: inline-block;
    width: relative;
    margin-right: 1%;
    font-size: 12pt;
}


.overview-category-result{
    display: block;
    width: relative;
    margin-right: 1%;
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 12pt;
}

#overview-notice-emoji{
    margin-top: 50px;
    display: inline-block;
    width: 5px;
    font-size: 12pt;
}

.overview-notice {
    width: 90%;
    display: inline-block;
    vertical-align: text-top;
    font-style: italic;
    font-size: 12pt;
}

.tab{
    margin-left: 20px;
}

/*necessary*/
.margin-bottom-50{
    margin-bottom: 50px;
}

/*body*/
.body{
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 100px;
    margin-top: 100px;
    font-size: 14pt;
}

.body-small-title{
    margin-top: 30px;
    margin-bottom: 30px;
    letter-spacing: 0.1em;
    font-weight: 600;
    font-size: 11pt;
}

.body-contents {
    margin-bottom: 30px;
}

.body-title{
    font-size: 25pt;
    font-weight: 600;
    line-height: 1.0;
    margin-bottom: 30px;
    letter-spacing: -0.01em;
}


.body-quote{
    width: 85%;
    vertical-align: text-top;
    font-style: italic;
    font-size: 13pt;
    margin-bottom: 30px;
}