*{
    -webkit-font-smoothing: antialiased;
}  
/*nav bar*/

/* Add a black background color to the top navigation */
.nav {
    position: fixed;
    width: 100%;
    top: 0;
    padding-left: 100px;
    background-color: white;
    padding-top: 40px;
    padding-bottom: 30px;
    border-bottom: 2px solid #f2f3f5;
    z-index: 1000000;
}

/* Style the links inside the navigation bar */
.nav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Helvetica Neue"; 
  font-weight: 600;
  letter-spacing: 0.1em;
  font-size: 10pt;

}

/* Change the color of links on hover */
.nav a:hover {
  color: black;
}

/* Add a color to the active/current link */
.nav a:active {
  color: black;
}

/* Right-aligned section inside the top navigation */
.nav-right {
  float: right;
  padding-right: 200px;
  
}

.nav-right a{
    font-weight: 500;
    color:#a3a3a3;
    letter-spacing: 0.01em;
    font-size: 10pt;
    
}

.cssanimation, .cssanimation span {
    animation-duration: 1.5s;
    animation-fill-mode: both;
}

.cssanimation2, .cssanimation span {
    animation-duration: 2s;
    animation-fill-mode: both;
}

.hidden {
    visibility: hidden;
}

#jessiekim:hover span{
    visibility: visible;

}


/**
 * cssanimation.css
 * https://www.cssanimatio.io
 * Created and maintained by: Pavel
 * Find me at: https://www.linkedin.com/in/yesiamrocks/
 * Email: hello@cssanimation.io
 * Github: https://github.com/yesiamrocks/cssanimation.io
 * Title: A CSS Animation Library for Developers and Ninjas
 * Copyright (c) 2017 Pavel
 * License: cssanimation.io is licensed under the MIT license
 **/

.cssanimation span { display: inline-block }

.fadeInBottom { animation-name: fadeInBottom }
@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(20%);
    }
    to { opacity: 1 }
}


ul a {
    text-decoration: none;
    list-style: none;
    font-size: 10pt;
    color: grey;
}

.font-black{
    color: black;
}

.a-font-black{
    display: inline-block;
}
.a-font-black a{
    color: black;
}
/*
ul a:active {
    color: black;
}

ul a:hover {
    color: black;
}


nav li {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0 10px;
    display: inline-block;
}





nav ul {
    padding-left: 0;
    width: 320px;
    padding-right: 390px;
    list-style: none;
    text-decoration: none; 
    background-color: white;
    float: right;
}

nav{
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 200px;
}

.nav-current{
    color: black;

}
*/

/*body*/
body{
    font-family: "Helvetica Neue"; 
    font-size: 12pt;
    padding: 0px;
    margin: 0px;

}

p {
    margin-top: 0px;
    margin-bottom: 0px;
}


/* hi! */
#hi {
    margin-top: 280px;
  /*  margin-left: 100px;
    margin-right: 100px;*/
  /* text-align: center;*/
   margin-bottom: 0px;
   margin-left: 200px;
   margin-right: 200px;
}


#me {
    width: 100px;
    height: auto;
  /* text-align: center;*/
  /*display: inline-block;*/
  /*display: block;
  margin-left: 48%;
  margin-right: auto;*/
  float:left;
    /*vertical-align: middle;*/
    margin-top: -10px;
    margin-bottom: 20px;
    margin-right: 30px;
     transform: rotateY(180deg) rotate(-10deg);
}


#me3 {
    width: 110px;
    height: auto;
  /* text-align: center;*/
  /*display: inline-block;*/
  /*display: block;
  margin-left: 48%;
  margin-right: auto;*/
  float:left;
    /*vertical-align: middle;*/
    margin-top: -10px;
    margin-bottom: 20px;
    margin-right: 20px;
}



#jessie {
    font-weight: 600;
    color: black;
    font-size: 25pt;
    padding-bottom: 5px;
}

#hi-h1{
    padding-bottom: 5px;
    font-weight: 400;
    font-size: 10pt;

}

.hi-desc{
    width: 85%;
  /*  margin-left: 30px;*/
    font-size: 18pt;
    margin-bottom: 0px;
    font-weight: 400;
   /*color: #8d8d8d;  */
   color: grey;
    /*display: inline-block;*/
}


.button-box{
   /* margin-top: -10px;*/
}

.button{ 
    font-size: 9pt;
    width: auto;
    font-weight: bold;
    border: none;
    text-align: center;
    padding-top: 10px;
    margin-top: 40px;
    margin-right: 15px;
    display: inline-block;
}

.button a{
    text-decoration: none;
    color:#0f4c81;
    padding: 5px 10px 5px 0px;

}

.button a:hover{
    color: #ffffff;
    background-color: #0f4c81;
    padding-left: 10px;
}


/*work*/
#works{
    height: 100px;
   /* margin-bottom: 50px;*/
   margin-bottom: 100px;
}

.work {
    margin-left: 200px;
    margin-right: 200px;
}

#projects{
    font-weight: 500;
    font-family: "Helvetica Neue";
    color:black;
    margin-bottom: 20px;
}

.work-image{
    /*width: 45%;*/
    width: 100%;
    margin-right: 4px;
    margin-left: 0px;
    padding: 0px;
    display: inline-block;
}


.work-box {
    position: relative;
    overflow: hidden;
    width: 45%;
    float:left;
    margin-right: 3%;
}

.work-box img {
    float:left;
}

.work-box div{
    visibility: hidden;
    text-align: center;
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    color: white;

}

.work-text {
    padding-top: 28%;
    font-weight: 600;
    font-size: 20pt;
    color: white;
    text-align: center;
}

.work-box:hover{
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

.work-box:hover img{
    opacity: 0.8;
}

.work-box:hover div {
    visibility: visible;
}


.font-small {
    font-size: 10pt;
    margin-top: 5px;
}

/* copy and paste it for indiv boxes */
.cure-box:hover div {
    background-color: #4e598c;
}


.insta-box:hover div{
    background-color: #f2f3f5;
    color: black;
}

/*works-before
.work {
    margin-left: 100px;
    padding-bottom: 500px;
    display: float;
    margin-right: 100px;
    align-items: center;   
    font-family: "Helvetica Neue";

}

.work-text{
    width: 70%;
    float: right;
}


.work h1{
    font-size: 20pt;
    margin-bottom: 10px;
    margin-top: 0px;
}

.work-desc{
    font-family: "Helvetica Neue";
}

.work-date {
    font-size: 10pt;
    color: grey;
    padding-bottom: 10px;

}
.work-title {
    color: grey;
}

.work-button {
    margin-top: 20px;
}

.work-image {
    width: 300px;
    height: 300px;
    float: left;
}

.work-img{
    width: 100%;
}

.line-after{
    padding-bottom: 10px;
}

*/

/*footer*/
/*nav bar*/

/* Add a black background color to the top navigation */
footer {
    font-family:  "Helvetica Neue";
    margin-top: 600px;
    bottom: 0;
    padding-left: 100px;
  /* background-color: #f2f3f5;*/
    padding-top: 40px;
    padding-bottom: 30px;
}

/* Style the links inside the navigation bar */
footer a {
  color: gray;
 text-decoration: none;
 margin-left: 20px;
 font-weight: 500;
}

footer a:hover{
    color: black;
}

footer p {
    display: inline-block;
    width: 200px; 
    font-size: 10pt;
    font-family: "Helvetica Neue";
    font-weight: 500;
}


/* Right-aligned section inside the top navigation */
.footer-right {
  float: right;
  margin-right: 120px;
  padding-top: 0px;
  margin-top: 0px;
  font-size: 10pt;

}

/* old footer 
footer {
    width: 100%;
    height: 150px;
    background-color: #f2f3f5;
    padding-top:  30px;
    margin-left: 0px;
    padding-left: 0px;
    margin-top: 20px;
    display: block;
    margin-top: 100px;
    margin-top: 500px;
}

footer ul {
    list-style: none;
    text-decoration: none;
    text-align: center; 
}

footer p {
    padding-top: 40px;
    font-size: 25px;
    text-align: center;
}

footer li{
    display: inline-block;
    padding-right: 30px;
    font-weight: 300;
    font-size: 10pt;
}

*/


/*about*/

.about {
    margin-left: 200px;
    margin-right: 200px;
    /*margin-top: 280px;*/
    margin-top: 180px;
}

.about-img{
    width: 25%;
    float: left;
    margin-top: 20px;
    vertical-align: middle;
    margin-left: 200px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);

}



#me2 {
    width: 100px;
    height: auto;
  /* text-align: center;*/
  /*display: inline-block;*/
  /*display: block;
  margin-left: 48%;
  margin-right: auto;*/
  float:left;
    /*vertical-align: middle;*/
    margin-top: -10px;
    margin-bottom: 20px;
    margin-right: 30px;
}

.about-desc{
    color:black;
    margin-top: 0px;
    font-weight: 600;
    margin-left: 200px;
}

.about-text{
    margin-right: 200px;
    width: 45%;
    float: right;
   font-family: "Helvetica Neue";
   font-weight: 400;
  /*  color: #8d8d8d;  */
  color: gray;
  font-size: 14pt;
  line-height: 1.5;

}

.about-text h1{
    display: inline-block;
    margin-top: 0px;
    font-family: "Helvetica Neue";
}

.about-text-2{
    padding-top: 550px;
    font-family: "Helvetica Neue";
}

.blue{
    color: #0f4c81;
    font-weight: 500;
}

.red{
    color: #B31B1B;
    font-weight: 400;
}

.tab-2 {
    margin-top: -30px;
    margin-left: 30px;
}
 
a{
    color:gray;
}