*{
    /*-webkit-font-smoothing: antialiased;
    font-family: "Helvetica Neue"; */
    font-family: "Arial,sans-serif"
}  

html {
    scroll-behavior: smooth;
  }

/*basics*/

.line-before{
    margin-top: 10pt;
}

.line-after{
    margin-bottom: 10pt;
}

.font-11pt{
    font-size: 11pt;

}

.font-black{
    color: black;
}

.font-10 {
    font-size: 10pt;
}
.a-font-black{
    display: inline-block;
}
.a-font-black a{
    color: black;
}

/*nav bar*/
.nav {
    width: 100%;
    top: 0;
   /* background-color: white;*/
    padding-top: 10px;
    padding-bottom: 20px;
  /*  border-bottom: 2px solid #f2f3f5;*/ 
    z-index: 1000000;
    height:50px; 
    position: fixed;
}

.nav a {
  float: left;
  color: black;
  text-align: center;
  text-decoration: none;
  font-family: "Helvetica Neue"; 
  font-weight: 600;
  letter-spacing: 0.1em;
}

.margin-nav {
    padding: 16px 20px;
}

.nav a:hover {
  color: black;
}

.nav a:active {
  color: black;
}

.nav-right {
  float: right;
  margin-right: 50px;
  
}

.nav-right a{
    font-weight: 500;
    color:#a3a3a3;
    letter-spacing: 0.01em;    
}

.hidden {
    visibility: hidden;
}

#jessiekim {
    margin-left: 50px;
    font-size: 25pt;
    margin-top: 6px;
}

#jessiekim:hover span{
    visibility: visible;

}

ul a {
    text-decoration: none;
    list-style: none;
    font-size: 10pt;
    color: grey;
}


.cssanimation, .cssanimation span {
    animation-duration: 1.5s;
    animation-fill-mode: both;
}

.cssanimation2, .cssanimation span {
    animation-duration: 2s;
    animation-fill-mode: both;
}
/**
 * cssanimation.css
 * https://www.cssanimatio.io
 * Created and maintained by: Pavel
 * Find me at: https://www.linkedin.com/in/yesiamrocks/
 * Email: hello@cssanimation.io
 * Github: https://github.com/yesiamrocks/cssanimation.io
 * Title: A CSS Animation Library for Developers and Ninjas
 * Copyright (c) 2017 Pavel
 * License: cssanimation.io is licensed under the MIT license
 **/

.cssanimation span { display: inline-block }

.fadeInBottom { animation-name: fadeInBottom }
@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(20%);
    }
    to { opacity: 1 }
}


/*body*/
body{
    font-family: "Helvetica Neue"; 
    font-size: 12pt;
    padding: 0px;
    margin: 0px;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
}


/* hello */

.hello {
    margin-top: 200px;
    margin-left: 200px;
    margin-right: 200px;
    height: 50vh;
}

#hello-image{
    width: 9%;
    display: inline-block;
    vertical-align: top;
    margin-right: 2%;
}

#jessie {
    font-size: 30pt;
}
.hello-text{
    display: inline-block;
    margin-top: 6%;
    width: 85%;
}

#hello-jessie {
    font-size: 30pt;
    font-weight: 500;
}

#hello-desc{
    width: 85%;
    font-size: 20pt;
    color: #7c7c7c;
    margin-top: 1%;
}

#emph {
    color: #F06175;
    font-size: 20pt;
}
#emph2 {
    color: #F06175;
}

#font-20 {
    font-size: 20pt;
}

#grey {
    color: #7c7c7c;

}
.sub-text {
    margin-top: 10%;
    color: #7c7c7c;
}

#seek {
    margin-top: 5%;
    font-size: 11pt;
    color: #7c7c7c;

}

/*work*/
#works{
    height: 100px;
   margin-bottom: 100px;
}

.work {
    margin-left: 200px;
    margin-right: 200px;
    height: 80vh;
}


#projects{
    font-weight: 500;
    font-family: "Helvetica Neue";
    color:black;
    margin-bottom: 20px;
}

.first-box {
    margin-right: 2%;
}

.work-box {
    position: relative;
    width: 47%;
    height: auto;
    display: inline-block;
  }
 
.work-image {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 1%;

  }

.work-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    padding: 0px;
    margin: 0px;
  }
  
.work-box:hover .work-overlay {
    opacity: 1;
  }
  
.work-text {
    color: white;
    position: absolute;

    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
    font-weight: 600;
    font-size: 18pt;
    color: white;
    text-align: center;
  }

 
.font-small {
    font-size: 10pt;
    margin-top: 5px;
}

.work-text-date {
    position: absolute;
    bottom: 0;
    font-weight: 600;
    font-size: 8pt;
    color: white;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;

}


.work-text-type {
    top: 0;
    padding-top: 20px;

}


.work-row1 {
    margin-bottom: 5%;
}

/* needed for each box */

.loreal-back{
    background-color: #ffffff;
    border-radius: 1%;
}

.loreal-box:hover div{
    background-color: #ffffff;
    color: black;
    border-radius: 1%;

}


.dep-back{
    background-color: #f7e3eb;
    border-radius: 1%;
}

.dep-box:hover div{
    background-color: #f7e3eb;
    color: black;
    border-radius: 1%;

}


.insta-back{
    background-color: #F9F9F9;
    border-radius: 1%;

}
.insta-box:hover div{
    background-color: #f2f3f5;
    color: black;
    border-radius: 1%;

}

.cure-back {
    background-color: #4e598c;
    border-radius: 1%;

}
.cure-box:hover .work-overlay {
    background-color: #4e598c; 
    border-radius: 1%;
   
}


/*footer*/
footer {
    font-family:  "Helvetica Neue";
    bottom: 0;
    padding-left: 50px;
    padding-top: 100px;
    padding-bottom: 30px;
    display: block;
}

footer a {
color: gray;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
}

footer a:hover{
    color: black;
}

footer p {
    display: inline-block;
    width: 200px; 
    font-size: 10pt;
    font-family: "Helvetica Neue";
    font-weight: 500;
}

.footer-right {
  float: right;
  margin-right: 120px;
  padding-top: 0px;
  margin-top: 0px;
  font-size: 10pt;

}

/*--------------------------*/
/*about.html*/
.about-box {
    height: 80vh;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
     
}

.about-me {
    font-size: 20pt;
    width: 500px;
    margin-bottom: 30px;
    font-weight: 600;
}

.about-image {
    width: 35%;
    display: inline-block;
    vertical-align: top;
    margin-right: 2%;
}

.about-text {
    width: 55%;
    display: inline-block;
    font-size: 14pt;
    color: gray;
}

a{
    color:gray;
}

